<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
 <div class="col-md-12" [ngClass]="{'message': true, 'message-valid-input': chooseNum !== null && errorMessage}">
      {{ errorMessage ? 'Please enter a valid input' : 'Numbers highlighted above are divisible by ' + chooseNum }}
    </div>
    <!-- <div class="col-md-12 message message-valid-input" *ngIf="chooseNum && errorMessage">
      Please enter a valid input
    </div>
    <div class="col-md-12 message" *ngIf="chooseNum  && !errorMessage">
      Numbers highlighted above are divisible by {{ chooseNum }}
    </div> -->

    
    <div class="row">
      <div class="col-md-4">
        <div>
          <input class="inputValue" type="number" [(ngModel)]="chooseNum" (ngModelChange)="validateInput()"
            placeholder="Try numbers...." min="0" max="50">
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div> <button [disabled]="isCleardisable" (click)="clearInput()">Clear</button></div>
        
      </div>
      <div class="col-md-8">
        <p *ngFor="let num of nums" 
        [ngClass]="{
          highlight:chooseNum !== null && num % chooseNum === 0 
        }" 
      [ngStyle]="{'font-size': (chooseNum !== null && num % chooseNum === 0) ? '30px' : '24px'}">
      {{num}}
        </p>
      </div>
    </div>
    
  </div>
  
</body>
</html>




